.post-block,
.title {
  background: #FFC9B5;
}

.blue {
  background: blue;
  color: #fff;
}

a {
  color: #fff !important;
  text-decoration: underline;
  transition-property: all;
  transition-duration: 300ms;
}

a:hover {
  color: #dddddd !important;
  text-decoration: underline;
}

.gray {
  background: red;
}

.pink {
  background: red;
}

.orange {
  background: #000000;
}

.post-block {
  min-height: 15rem;
  max-height: 15rem;
}
